<div class="row">
  <div class="col-md-10 blog-main">
    <div class="blog-post mt-4">
      <h1 class="blog-post-title border-bottom">TITULO</h1>
      <p class="blog-post-meta">Fecha por <a href="#">Pablo</a></p>
      <p>ZONA</p>
      <blockquote>
        <h2>Descripcion</h2>
        <p>DESCRIPCION</p>
      </blockquote>
      <h2>Remuneracion</h2>
      <p>REMUNERACION</p>
      <blockquote>
        <h2>Horario</h2>
        <p>HORARIO</p>
      </blockquote>
    </div>
  </div>
  <div class="col-md-2">
    <div class="btn-group pull-right mt-4">
      <a routerLink="/editar/" class="btn btn-dark">Editar</a>
      <a routerLink="/" class="btn btn-danger" (click)="onClickDelete()">Borrar</a>
    </div>
  </div>
</div>
